@use './functions' as *;

$desktop: 1920;
$laptop: 1400.98;
$tablet: 1023.99;
$tablet-s: 767.99;
$mobile-b: 479.99;
$mobile: 360.99;

@mixin laptop-above {
  @media (width > to-rem($laptop)){
    @content;
  }
}

@mixin laptop {
  @media (width <= to-rem($laptop)){
    @content;
  }
}

@mixin tablet-above {
  @media (width > to-rem($tablet)){
    @content;
  }
}

@mixin tablet {
  @media (width <= to-rem($tablet)){
    @content;
  }
}

@mixin tablet-s-above {
  @media (width > to-rem($tablet-s)){
    @content;
  }
}

@mixin tablet-s {
  @media (width <= to-rem($tablet-s)){
    @content;
  }
}

@mixin mobile-b-above {
  @media (width > to-rem($mobile-b)){
    @content;
  }
}

@mixin mobile-b {
  @media (width <= to-rem($mobile-b)){
    @content;
  }
}

@mixin mobile-above {
  @media (width > to-rem($mobile)){
    @content;
  }
}

@mixin mobile {
  @media (width <= to-rem($mobile)){
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if($hasActiveEffectOnMobile){
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}