@use 'sass:math';
@use 'media' as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size:fluid($max, $min);
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin rect($width, $height) {
  width: $width;
  height: $height;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin photo-scale-hover {
  transition: transform 300ms ease;
  transform-origin: center;
  z-index: 100;

  @include hover {
    transform: scale(1.1);
  }

  @media (any-hover: none) {
    &:active {
      transform: scale(1.1);
      transition-duration: 150ms;
    }

    &:not(:active) {
      transform: scale(1);
      transition-duration: 300ms;
    }
  }
}

@mixin text-style(
  $font-family: var(--font-family-base),
  $font-size: 16px,
  $line-height: 120%,
  $letter-spacing: 0,
  $font-weight: 400
){
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

@mixin h1 {
  @include text-style(
    $font-family: var(--font-family-base),
    $font-size: 96px,
    $line-height: 109%,
    $letter-spacing: 1.92px,
    $font-weight: 700
  );

  @include tablet-s {
    font-size: 65px;
    line-height: 112%;
    letter-spacing:0.68px;
  }

  @include mobile-b {
    font-size: 34px;
    line-height: 112%;
    letter-spacing:0.68px;
  }
}

@mixin h2 {
  @include text-style(
  $font-family: var(--font-family-base),
  $font-size: 59px,
  $line-height: 124%,
  $letter-spacing: 0,
  $font-weight: 700
  );

  @include tablet-s {
    font-size: 47px;
    line-height: 112%;
    letter-spacing: 0.68px;
  }

  @include mobile-b {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.68px;
  }
}

@mixin h3 {
  @include text-style(
    $font-family: var(--font-family-base),
    $font-size: 35px,
    $line-height: 122%,
    $letter-spacing: 0,
    $font-weight: 500
  );

  @include tablet-s {
    font-size: 29px;
    line-height: 120%;
    letter-spacing: 0.92px;
    font-weight: 700;
  }

  @include mobile-b {
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.92px;
    font-weight: 700;
  }

}

@mixin p-big {
  @include text-style(
    $font-family: var(--font-family-base),
    $font-size: 23px,
    $line-height: 122%,
    $letter-spacing: 0,
    $font-weight: 700
  );

  @include tablet-s {
    font-size: 16px;
    line-height: 142%;
  }
}

@mixin p-normal {
  @include text-style(
    $font-family: var(--font-family-base),
    $font-size: 20px,
    $line-height: 142%,
    $letter-spacing: 0,
    $font-weight: 400
  );

  @include tablet-s {
    font-size: 16px;
    line-height: 142%;
  }
}

@mixin p-small {
  @include text-style(
    $font-family: var(--font-family-base),
    $font-size: 17px,
    $line-height: 142%,
    $letter-spacing: -0.17px,
    $font-weight: 400
  );

  @include tablet-s {
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.16px,
  }
}
