@use "../helpers" as *;

*:focus-visible {
  outline: 1px solid var(--color-orange200);
  outline-offset: 2px;
}

.tour-selection-form {
  &, & * {
    &:focus-visible {
      outline: 1px solid var(--color-gray300);
      outline-offset: 0;
    }
  }
}

.tour-selection-form {
  &__buttons {
    &, & * {
      &:focus-visible {
        outline: 1px solid var(--color-orange200);
        outline-offset: 2px;
      }
    }
  }
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;

  &.is-lock {
    overflow: hidden;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-black);
  background-color: var(--color-beige100);
}

main {
  flex-grow: 1;
}

h1, .h1 {
  @include h1;
  color: var(--color-white);
}

h2, .h2 {
  @include h2;
  color: var(--color-black);
}

h3, .h3 {
  @include h3;
  color: var(--color-black);
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

a,
button {
  &[aria-label]{
    position: relative;

    &:before{
      @include abs-center;
      @include square(to-rem(44));

      content: '';
    }
  }
}