@use '../helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include tablet-s {
    max-width: none;
  }
}

.container-wide {
  --container-width: #{to-rem(1860)};
  --container-padding-x: #{to-rem(30)};

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include tablet {
    --container-width: #{to-rem(984)};
    --container-padding-x: #{to-rem(20)};
  }

  @include tablet-s {
    --container-padding-x: #{to-rem(21)};
    max-width: none;
  }
}

.container-small {
  --container-width: #{to-rem(771)};
  --container-padding-x: #{fluidWithVw(126.5, 574.5, 1024, 1920)};

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);


  @include tablet {
    --container-width: #{fluidWithVw(291, 771, 360, 1024)};
    --container-padding-x: #{fluidWithVw(34.5, 126.5, 360, 1024)};
  }

  @include mobile {
    --container-width: #{fluidWithVw(291, 250, 320, 360)};
    --container-padding-x: #{fluidWithVw(34.5, 10, 320,360)};
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile{
    display: none !important;
  };
}

.visible-mobile {
  @include mobile-above{
    display: none !important;
  }
}