@use '../helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  --container-width: #{to-rem(1860)};
  --container-padding-x: #{to-rem(30)};

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include tablet {
    --container-width: #{to-rem(984)};
    --container-padding-x: #{to-rem(20)};
  }

  @include mobile {
    --container-width: #{to-rem(318)};
    --container-padding-x: #{to-rem(21)};
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile{
    display: none !important;
  };
}

.visible-mobile {
  @include mobile-above{
    display: none !important;
  }
}