@use '../helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  --container-width: #{to-rem(1860)};
  --container-padding-x: #{to-rem(30)};

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include tablet {
    --container-width: #{to-rem(984)};
    --container-padding-x: #{to-rem(20)};
  }

  @include mobile {
    --container-width: #{to-rem(318)};
    --container-padding-x: #{to-rem(21)};
  }
}

.container-small {
  //--container-width: #{to-rem(771)};
  //--container-padding-x: #{to-rem(574.5)};
  --container-width: #{fluid(771, 771)};
  --container-padding-x: #{fluid(574.5, 126.5)};

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);


  @include tablet {
    //--container-width: #{to-rem(771)};
    //--container-padding-x: #{to-rem(126.5)};
    --container-width: #{fluid(771, 291)};
    --container-padding-x: #{fluid(126.5, 34.5)};
  }

  @include mobile {
    --container-width: #{to-rem(291)};
    --container-padding-x: #{to-rem(34.5)};
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile{
    display: none !important;
  };
}

.visible-mobile {
  @include mobile-above{
    display: none !important;
  }
}