@use "../helpers" as *;
@use "../base" as *;

.button {
  cursor: pointer;

  &--white {
    padding: to-rem(5) var(--indent-mini);
    background-color: var(--color-white);
    border-radius: to-rem(10);
    @include p-small;
    color: var(--color-black);
    transition: all var(--transition-duration) ease;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-orange200);
    }

    &:active {
      color: var(--color-black);
      background-color: var(--color-orange100);
    }
  }

  &--arrow {
    position: relative;
    color: var(--color-white);
    @include p-big;
    display: inline-flex;
    justify-content: left;
    transition: color var(--transition-duration) ease;

    &::before {
      content: '';
      position: absolute;
      top: to-rem(-13);
      left: to-rem(-21);
      right: to-rem(-21);
      bottom: to-rem(-13);
      background-color: transparent;
      border-radius: to-rem(50);
      transition: background-color var(--transition-duration) ease;
      z-index: -1;
    }

    &:hover::before {
      background-color: var(--color-green400);
    }

    &:active::before {
      background-color: var(--color-orange200);
    }
  }

  &__form {
    padding: to-rem(15) to-rem(70.5);
    border: none;
    border-radius: to-rem(10);
    @include p-normal;

    @include tablet-s {
      padding: to-rem(12) to-rem(40.5);
    }

    @include mobile-b {
      padding: to-rem(12) fluid(35.5, 30.5);
    }

    @include mobile {
      padding: to-rem(12.5) to-rem(30.5);
    }

    @media (max-width: 350px) {
      padding: to-rem(12) to-rem(20.5);
    }

    &--submit {
      background-color: var(--color-green400);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-green300);
      }

      &:active {
        background-color: var(--color-green200);
      }
    }

    &--reset {
      background-color: var(--color-green100);
      color: var(--color-green400);

      &:hover {
        background-color: var(--color-gray100);
      }

      &:active {
        background-color: var(--color-gray200);
      }
    }
  }
}