@use "../helpers" as *;
@use "../base" as *;

.contacts {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: to-rem(30);

  @include tablet-s {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: to-rem(291);
  }

  @media (max-width: 350px) {
    min-width: to-rem(200);
  }

  &__image {
    @include square(to-rem(370));
    border-radius: var(--border-radius);

    @include tablet-s {
      @include rect(to-rem(130), to-rem(133));
      border-radius: var(--border-radius-mini);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: to-rem(20);

    @include tablet {
      gap: to-rem(21);
    }
  }

  &__description {
    @include p-normal;
    color: var(--color-gray300);
  }

  &__link {
    @include underline-hover(var(--color-black), 0);
    color: var(--color-black);

    @include text-link-active(var(--color-green400));
  }
}