@use "../helpers" as *;
@use "../base" as *;

.contacts {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: to-rem(30);
  //min-width: to-rem(771);

  @include tablet-s {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: to-rem(291);
  }

  @media (max-width: 350px) {
    min-width: to-rem(200);
  }

  &__image {
    @include square(to-rem(370));
    border-radius: var(--border-radius);

    @include tablet-s {
      @include rect(to-rem(130), to-rem(133));
      border-radius: var(--border-radius-mini);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: to-rem(20);

    @include tablet {
      gap: to-rem(21);
    }
  }

  &__description {
    @include p-normal;
    color: var(--color-gray300);
  }

  &__link {
    position: relative;
    color: var(--color-black);

    &:active {
      color: var(--color-green400);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-black);
      transform: scaleX(0);
      transition: transform var(--transition-duration) ease;
    }

    &:active::after {
      background-color: var(--color-green400);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}