@use "../helpers" as *;
@use "../base" as *;

.field {
  display: flex;
  flex-direction: column;
  row-gap: to-rem(8);

  &__label {
    @include p-normal;
    color: var(--color-black);
  }

  &__control {
    @include p-normal;
    color: var(--color-black);
    background-color: var(--color-beige100);
    padding: to-rem(20);
    border: none;
    border-radius: to-rem(10);
    transition: color var(--transition-duration) ease;

    &::placeholder {
      color: var(--color-gray300);
    }

    &:hover,
    &:focus {
      background-color: var(--color-beige200);
      cursor: pointer;
    }

    &:focus {
      border: 1px solid var(--color-gray300);
    }
  }

  &__select {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: to-rem(20);
      transform: translateY(-50%);
      width: to-rem(20);
      height: to-rem(20);
      background-image: url(@icons/black-select-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__select-control {
    min-width: to-rem(500);
    appearance: none;

    &:not(:invalid) {
      color: var(--color-black);
    }

    &:invalid {
      color: var(--color-gray300);
    }
  }
}