@use "../helpers" as *;
@use "../base" as *;

.field {
  display: flex;
  flex-direction: column;
  row-gap: to-rem(6);

  @include mobile-b {
    row-gap: to-rem(8);
  }

  &__label {
    @include p-normal;
    color: var(--color-black);
  }

  &__control {
    width: 100%;
    @include p-normal;
    color: var(--color-black);
    background-color: var(--color-beige100);
    padding: var(--indent-mini);
    border: 1px solid var(--color-beige200);
    border-radius: to-rem(10);
    transition: color var(--transition-duration) ease;

    @include tablet-s {
      padding: to-rem(9.8);
    }

    &::placeholder {
      color: var(--color-gray300);
    }

    &:hover,
    &:focus {
      background-color: var(--color-beige200);
      cursor: pointer;
    }

    &:is(textarea) {
      width: 100%;
      resize: none;
      height: to-rem(153);
      overflow-y: auto;

      @include mobile {
        height: to-rem(132);
      }
    }
  }

  &__select {
    position: relative;
    width: 100%;


    &::after {
      content: "";
      position: absolute;
      top: 52%;
      right: to-rem(23);
      transform: translateY(-50%);
      @include square(to-rem(20));
      background-image: url(@icons/black-select-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      z-index: 1;

      @include mobile {
        right: to-rem(14);
      }
    }
  }

  &__select-control {
    appearance: none;
    width: 100%;
    position: relative;

    &.is-placeholder {
      @include p-normal;
      color: var(--color-gray300);
    }

    &:not(.is-placeholder) {
      @include p-normal;
      color: var(--color-black);
    }

    option {
      @include p-normal;
      color: var(--color-black);
    }

    option[value=""][disabled] {
      display: none;
    }
  }

  &__radios {
    display: flex;
    gap: to-rem(31);
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: to-rem(12);
    cursor: pointer;

    &:focus {
      .field__radio-text::before {
        outline: 1px solid var(--color-gray300);
        outline-offset: 2px;
      }
    }
  }

  &__radio-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .field__radio-text::before {
      border-color: var(--color-black);
    }

    &:checked + .field__radio-text::after {
      transform: translateY(-50%) scale(1);
    }

    &:focus-visible + .field__radio-text::before {
      outline: 1px solid var(--color-gray300);;
      outline-offset: 2px;
    }
  }

  &__radio-text {
    position: relative;
    padding-left: to-rem(37);
    @include p-normal;
    color: var(--color-black);
    cursor: pointer;

    @include mobile {
      padding-left: to-rem(30);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include square(to-rem(26));
      border: 2px solid var(--color-black);
      border-radius: 50%;
      background-color: var(--color-white);
      transition: all var(--transition-duration) ease;

      @include mobile {
        @include square(to-rem(20));
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: to-rem(7);
      top: 50%;
      transform: translateY(-50%) scale(0);
      @include square(to-rem(12));
      border-radius: 50%;
      background-color: var(--color-black);
      transition: transform var(--transition-duration) ease;

      @include mobile {
        left: to-rem(4);;
        @include square(9);
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: flex-start;
    gap: to-rem(12);

    @include mobile {
      gap: to-rem(8);
    }

    &:focus-visible {
      .field__checkbox-label::before {
        outline: 1px solid var(--color-gray300);
        outline-offset: 2px;
      }
    }
  }

  &__checkbox-label {
    position: relative;
    padding-left: to-rem(45);
    @include p-small;
    color: var(--color-gray300);
    cursor: pointer;
    line-height: 1.4;

    @include tablet {
      padding-left: to-rem(37);
    }

    @include mobile {
      padding-left: to-rem(31);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: to-rem(-2);
      @include square(to-rem(25));
      border: 2px solid var(--color-black);
      border-radius: to-rem(3);
      background-color: var(--color-white);
      transition: all var(--transition-duration) ease;

      @include tablet {
        top: to-rem(-1);
      }

      @include mobile {
        @include square(to-rem(20));
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: to-rem(13);
      top: to-rem(11);
      transform: translate(-50%, -50%) scale(0);
      width: to-rem(14);
      height: to-rem(9);
      background-image: url(@/assets/icons/check-mark.svg);
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: all var(--transition-duration) ease;

      @include mobile {
        left: to-rem(11);
        top: to-rem(9);
      }
    }
  }

  &__checkbox-link {
    position: relative;
    color: var(--color-black);

    &:active {
      color: var(--color-green400);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-black);
      transform: scaleX(0);
      transition: transform var(--transition-duration) ease;
    }

    &:active::after {
      background-color: var(--color-green400);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__checkbox-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:focus-visible + .field__checkbox-label::before {
      outline: 1px solid var(--color-gray300);
      outline-offset: 2px;
    }
  }

  &__checkbox-input:checked + .field__checkbox-label::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__checkbox-link {
    display: inline;
  }
}