@use "../helpers" as *;
@use "../base" as *;

.header{
  &__container{
    padding-block: to-rem(28.88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    @include tablet{
      padding-inline: to-rem(57);
    }

    @include mobile{
      padding-block: to-rem(32);
      padding-left: to-rem(16);
      padding-right: to-rem(20);
    }
  }

  &__menu {
    &-list{
      display: flex;
      align-items: center;
      column-gap: to-rem(50);

      @include laptop{
        column-gap: to-rem(30);
      }
    }

    &-link{
      position: relative;
      @include p-normal;
      color: var(--color-white);
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        transform: scaleX(0);
        transition: transform var(--transition-duration) ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    @include mobile {
      display: none;
    }
  }

  &__contact-us-link{
    @include p-normal;
    position: relative;
    color: var(--color-white);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      transform: scaleX(0);
      transition: transform var(--transition-duration) ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

}