@use "../helpers" as *;
@use "../base";

.header-and-hero-background{

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    max-height: to-rem(830);
    background-image: url("../assets/images/header-and-hero-background.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    @include tablet {
      background-image: url("../assets/images/header-and-hero-bg-for-tablet.jpg");
      max-height: fluidWithVw(831, 828, 1023.99, 767.99);
    }

    @include tablet-s {
      max-height: fluidWithVw(628, 480, 767.99, 479.99);
    }

    @include mobile-b {
      max-height: fluidWithVw(462, 488, 479.99, 360.99);
    }

    @include mobile {
      background-image: url("../assets/images/header-and-hero-bg-for-mobile.jpg");
      max-height: to-rem(488);
    }
  }
}