@use "../helpers" as *;
@use "../base";

.header-and-hero-background{

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: to-rem(830);
    background-image: url("../assets/images/header-and-hero-background.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    @include tablet {
      background-image: url("../assets/images/header-and-hero-bg-for-tablet.jpg");
      height: to-rem(831);
    }

    @include mobile {
      background-image: url("../assets/images/header-and-hero-bg-for-mobile.jpg");
      max-height: to-rem(488);
    }
  }
}