@use "../helpers" as *;
@use "../base" as *;

.header{
  position: sticky;
  top: 0;
  z-index: 1000;
  @include common-transition();

  &__container{
    padding-block: to-rem(28.88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    @include tablet {
      padding-inline: to-rem(57);
    }

    @include mobile{
      padding-block: to-rem(32);
      padding-left: to-rem(16);
      padding-right: var(--indent-mini);
    }
  }

  &__menu {
    display: none;

    &-list{
      display: flex;
      align-items: center;
      column-gap: var(--indent-standart);

      @include laptop {
        column-gap: to-rem(30);
      }
    }

    &-link{
      @include underline-hover(var(--color-white), -4px);
      @include p-normal;
      color: var(--color-white);
      cursor: pointer;
      white-space: nowrap;
    }

    @include tablet-above {
      display: block;
    }
  }

  &__contact-us-link{
    @include underline-hover(var(--color-white), -6px);
    @include p-normal;
    color: var(--color-white);
    white-space: nowrap;
  }

  &--scrolled {
    background: var(--color-header);
    backdrop-filter: blur(10px);
    @include common-transition();
    box-shadow: 0 2px 20px var(--color-black);

    .header__menu-link {
      color: var(--color-black);

      &::after {
        background-color: var(--color-black);
      }
    }

    .header__contact-us-link {
      color: var(--color-black);

      &::after {
        background-color: var(--color-black);
      }
    }

    .logo__image {
      filter: brightness(0);
    }
  }
}