@use "../helpers" as *;
@use "../base";

.header-and-hero-background{
  height: 100%;
  background-image: url("../assets/images/header-and-hero-background.jpg");
  background-size: cover;
  background-position: center;

  @include tablet {
    background-image: url("../assets/images/header-and-hero-bg-for-tablet.jpg");
  }
}