@use "../helpers" as *;
@use "../base";

.header{
  &__container{
    padding-block: to-rem(29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    &__menu {
      &-list{
        display: flex !important;
        align-items: center;
        column-gap: to-rem(50);

        @include laptop{
          column-gap: to-rem(30);
        }
      }
    }
  }

}