@use "../helpers" as *;
@use "../base" as *;

.hero {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;
    min-height: calc(100dvh - 88px);
    row-gap: to-rem(49.5);
    text-align: center;

    @media (max-height: 800px) {
      row-gap: fluid(30, 5);
    }

    @include tablet {
      row-gap: to-rem(50.5);
      padding-top: to-rem(117);
      padding-bottom: to-rem(118);

      @media (max-height: 800px) {
        row-gap: fluid(30, 10);
        padding-block: fluid(50, 10);
      }
    }

    @include mobile {
      row-gap: to-rem(39);
      padding-block: to-rem(54.5);;

      @media (max-height: 487px) {
        row-gap: fluid(39, 10);
        padding-block: fluid(54, 15);
      }
    }
  }

  &__title {
    margin-top: -1.5px;

    @include tablet {
      margin-top: 0;
    }
  }

  &__subtitle {
    max-width: to-rem(562);
    @include p-normal;
    color: var(--color-white);

    @include tablet {
      max-width: to-rem(400);
    }

    @include mobile {
      max-width: to-rem(280);
    }
  }
}