@use "../helpers" as *;
@use "../base" as *;

.hero {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: to-rem(49.5);
    text-align: center;

    padding-block: fluid(118.5, 118);
    @include tablet-s {
      padding-block: fluid(118, 54.5);
    }

    //@include mobile-above {
    //  padding-block: to-rem(118);
    //}
    //
    //@include laptop-above {
    //   padding-block: to-rem(118.5);
    // }

    @include mobile {
      padding-block: to-rem(54.5);
      row-gap: to-rem(39);
    }
  }

  &__subtitle {
    max-width: to-rem(562);
    @include p-normal;
    color: var(--color-white);

    @include tablet {
      max-width: to-rem(400);
    }

    @include mobile {
      max-width: to-rem(280);
    }
  }

}