@use "../helpers" as *;
@use "../base" as *;

.photo-gallery {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: to-rem(30);

  @include tablet-s {
    gap: to-rem(18);
  }

  &__row {
    display: grid;
    gap: to-rem(30);

    @include tablet {
      column-gap: to-rem(19);
    }

    @include mobile-b {
      column-gap: to-rem(10);
    }

    &--1 {
      grid-template-columns: repeat(4, 1fr);

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mobile-b {
        grid-template-columns: repeat(2, 1fr);
        column-gap: to-rem(18);
      }
    }

    &--2 {
      grid-template-columns: repeat(5, 1fr);

      @include tablet {
        grid-template-columns: repeat(4, 1fr);
      }

      @include mobile-b {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &--3 {
      grid-template-columns: repeat(4, 1fr);

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mobile-b {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__item{
    border-radius: var(--border-radius);
    overflow: hidden;

    @include tablet-s {
      border-radius: var(--border-radius-mini);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__item--1,
  &__item--2,
  &__item--3,
  &__item--4 {
    aspect-ratio: 444 / 301;

    @include tablet {
      aspect-ratio: 315 / 300;
    }

    @include mobile-b {
      aspect-ratio: 150 / 110;
    }
  }

  &__item--5,
  &__item--6,
  &__item--7,
  &__item--8,
  &__item--9 {
    aspect-ratio: 347 / 301;

    @include tablet {
      aspect-ratio: 231 / 301;
    }

    @include mobile-b {
      aspect-ratio: 99.3 / 110;
    }
  }

  &__item--10,
  &__item--11,
  &__item--12,
  &__item--13 {
    aspect-ratio: 444 / 301;

    @include tablet {
      aspect-ratio: 315 / 300;
    }

    @include mobile-b {
      aspect-ratio: 154 / 110;
    }
  }

  &__item--2,
  &__item--7,
  &__item--13 {
    @include tablet {
      display: none;
    }
  }

  &__item--3,
  &__item--6,
  &__item--12 {
    @include mobile-b {
      display: none;
    }
  }

}


