@use "../helpers" as *;
@use "../base" as *;

.section {
  margin-top: to-rem(135);

  @include mobile {
    margin-top: to-rem(75);
  }

  &--review {
    @include mobile {
      margin-top: to-rem(77);
    }
  }

  &--gallery {
    @include mobile {
      margin-top: to-rem(77);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: to-rem(100);

    @include mobile {
      row-gap: to-rem(40);
    }

     &--review {
       @include mobile {
         row-gap: to-rem(52);
       }
     }

    &--gallery {
      padding-block: 0;

      @include mobile {
        row-gap: to-rem(51);
      }
    }

    &--tabs {
      row-gap: to-rem(34);

      @include tablet {
        row-gap: to-rem(37);
      }

      @include mobile {
        row-gap: to-rem(30);
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: to-rem(30);

    @include mobile {
      row-gap: to-rem(20);
    }
  }

  &__description {
    max-width: to-rem(400);
    @include p-normal;
    color: var(--color-gray300);
    text-align: center;
  }
}