@use "../helpers" as *;
@use "../base" as *;

.soc1als {
  &__list {
    display: flex;
  }

  &--text & {
    &__list {
      gap: to-rem(35);
      @include p-normal;
    }

    &__link {
      position: relative;
      @include p-normal;
      color: var(--color-white);
      cursor: pointer;

      &:active {
        color: var(--color-orange200);
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        transform: scaleX(0);
        transition: transform var(--transition-duration) ease;
      }

      &:active::after {
        background-color: var(--color-orange200);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &--text {
    @include mobile {
      display: none;
    }
  }

}