@use "../helpers" as *;
@use "../base" as *;

.soc1als {
  &__list {
    display: flex;
    @include p-normal;
  }

  &--text & {
    &__list {
      gap: to-rem(35);
      @include p-normal;
    }

    &__link {
      color: var(--color-white);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        transform: scaleX(0);
        transition: transform var(--transition-duration) ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      &:active::after {
        background-color: var(--color-orange200);
      }

      &:active {
        color: var(--color-orange200);
      }
    }
  }

  &--text {
    @include tablet-s {
      display: none;
    }
  }

  &--icons & {
    &__list {
      gap: to-rem(26);

      @include mobile-b {
        gap: to-rem(15);
      }

      @media (max-width: 350px) {
        flex-direction: column;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: to-rem(10);

      @include mobile-b {
        gap: to-rem(5);
      }

      &::after {
        background-color: var(--color-black);
      }

      &:hover {
        svg {
          color: var(--color-black);
        }
      }

      &:active::after {
        background-color: var(--color-orange200);
      }

      &:active {
        color: var(--color-orange200);
        svg {
          color: var(--color-orange200);
        }
      }

      svg {
        color: var(--color-gray300);
      }
    }

    &__svg-container {
      width: to-rem(26);
      height: to-rem(26);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      @include mobile-b {
        width: to-rem(23);
        height: to-rem(23);
      }
    }
  }
}