@use "../helpers" as *;
@use "../base" as *;

.soc1als {
  &__list {
    display: flex;
  }

  &__link {
    position: relative;
    @include p-normal;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transition: transform var(--transition-duration) ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &--text & {
    &__list {
      gap: to-rem(35);
      @include p-normal;
    }

    &__link {
      color: var(--color-white);

      &::after {
        background-color: var(--color-white);
      }

      &:active::after {
        background-color: var(--color-orange200);
      }

      &:active {
        color: var(--color-orange200);
      }
    }
  }

  &--text {
    @include tablet-s {
      display: none;
    }
  }

  &--icons & {
    &__list {
      gap: to-rem(25);

      @include mobile-b {
        gap: to-rem(15);
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: to-rem(10);

      @include mobile-b {
        gap: to-rem(5);
      }

      &::after {
        background-color: var(--color-black);
      }

      &:hover {
        svg {
          color: var(--color-black);
        }
      }

      &:active::after {
        background-color: var(--color-orange200);
      }

      &:active {
        color: var(--color-orange200);

        svg {
          color: var(--color-orange200);
        }
      }

      svg {
        color: var(--color-gray300);
      }
    }

    &__svg-container {
      width: to-rem(26);
      height: to-rem(26);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      @include mobile-b {
        width: to-rem(23);
        height: to-rem(23);
      }
    }
  }

}