@use "../helpers" as *;
@use "../base" as *;

.stories-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--indent-standart);


  @include mobile-b {
    gap: var(--indent-mini);
  }
}