@use "../helpers" as *;
@use "../base" as *;

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: to-rem(104);

  @include tablet {
    gap: to-rem(103);
  }

  @include mobile {
    row-gap: to-rem(50);
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include mobile {
      gap: to-rem(10);

    }
  }

  &__button {
    position: relative;
    border: none;
    background: none;
    @include p-big;
    padding: 0;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      transform: scaleX(0);
      transition: transform var(--transition-duration) ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &.is-active{
      color: var(--color-orange200);
    }

    &.is-active::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background-color: var(--color-orange200);
      transform: scaleX(1);

      @include tablet {
        bottom: -3.5px;
      }

      @include mobile {
        bottom: 0;
      }
    }

    &:not(:last-child) {
      margin-right: to-rem(30);

      @include mobile {
        margin: 0;
      }
    }
  }
}