@use "../helpers" as *;
@use "../base" as *;

.tour-selection-form {
  width: 100%;
  padding: to-rem(70);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  display: grid;
  gap: to-rem(33) to-rem(30);
  grid-template-columns: repeat(2, 1fr);

  @include tablet {
    padding: to-rem(60);
    gap: to-rem(33) var(--indent-mini);
  }

  @include tablet-s {
    grid-template-columns: 1fr;
    gap: to-rem(30);
    padding: var(--indent-mini) var(--indent-mini) to-rem(40);
    border-radius: to-rem(30);
  }

  &__cell {
    width: 100%;

    &--wide {
      width: 100%;
      grid-column: -1 / 1;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: to-rem(33);

    @include tablet {
      gap: to-rem(33);
      margin-top: to-rem(3);
    }

    @include mobile-b {
      gap: to-rem(9);
      margin-top: 0;
    }
  }
}