@use "../helpers" as *;
@use "../base" as *;

.tour-card {
  $self: &;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: to-rem(531);
  border-radius: var(--border-radius);
  padding: var(--indent-standart);
  overflow: hidden;
  @include image-zoom-container('#{$self}__image');
  cursor: pointer;

  @include mobile-b {
    height: to-rem(318);
    border-radius: to-rem(20);
    padding: to-rem(25.5) to-rem(25.5) to-rem(27);
  }

  &__picture {
    @include absolute-cover;
    z-index: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
    transition: transform var(--transition-duration) ease;
    transform-origin: center;

    @include mobile {
      border-radius: to-rem(20);
    }
  }

  &::after {
    content: '';
    @include absolute-cover;
    background: var(--gradient-top-to-bottom);
    border-radius: var(--border-radius);
    z-index: 1;

    @include mobile {
      border-radius: to-rem(20);
    }
  }

  &__content,
  &__button {
    position: relative;
    z-index: 2;
  }

  &__button {
    margin-top: auto;
    align-self: flex-start;
    display: inline-flex;
  }

  &__title {
    max-width: to-rem(224);
    color: var(--color-white);
    margin-bottom: to-rem(17);

    @include tablet {
      max-width: to-rem(370);
    }

    @include mobile {
      margin-bottom: to-rem(12);
    }
  }

  &__price {
    @include p-small;
    color: var(--color-white);
  }

  &:hover {
    #{$self}__image {
      transform: scale(1.2);
    }

    #{$self}__button {
      &::before {
        background-color: var(--color-green400);
      }

      &:active::before {
        background-color: var(--color-orange200);
      }
    }
  }
}